.body{
    background-color: rgb(25, 24, 24)
}

.js-rps{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.icon{
    width: 15px;
    background-color: transparent;
    
}

.move{
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: solid;
    border-color: white;
    border-radius: 50px;   
}
.js-score{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.js-comp-move{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.js-result{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.js-reset{
    background-color: transparent;
    color: white;
    border: solid;
    border-width: 2px;
    border-color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 15px;
}
